@tailwind base;
@tailwind components;
@tailwind utilities;

.mobile_nav_li {
  @apply relative block p-4 text-xl rounded cursor-pointer hover:font-bold;
}

.section-title {
  font-size: 44px;
  margin-bottom: 20px;
  font-weight: bold;

  @media screen and (max-width: 750px) {
    font-size: 28px;
  }
}
