.container {
  width: 100vw;
  max-width: 1440px;
  height: 100px;
  position: absolute;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  z-index: 10;
  top: 0;

  .logo {
    @media screen and (max-width: 990px) {
      width: 140px;
    }

    @media screen and (max-width: 767px) {
      width: 100px;
    }
  }
}
