@import '@/app/styles/mixins/animation.scss';

.container {
  position: relative;

  > a {
    > img:not(.track){
      cursor: pointer;
  
      &:hover {
        filter: drop-shadow(2mm 4mm 2mm rgb(249, 233, 86, 0.8)) ;
      }
    }
  }

  .green {
    position: absolute;
    top: 264px;
    left: 80px;
    @include left-right-animation(4.5s);
  }

  .orange {
    position: absolute;
    top: 400px;
    left: 292px;
    @include up-down-animation(4.8s);
  }

  .yellow {
    position: absolute;
    top: 272px;
    left: 732px;
    @include upper-right-lower-left-animation;
  }

  .blue {
    position: absolute;
    top: 556px;
    left: 524px;
    @include lower-right-upper-left-animation(5s);
  }

  .red {
    position: absolute;
    top: 24px;
    left: 600px;
    @include upper-left-lower-right-animation(4.3s);
  }
}
