@import '@/app/styles/mixins/animation.scss';

.container {
  position: relative;

  > a {
    > img:not(.track){
      cursor: pointer;
  
      &:hover {
        filter: drop-shadow(2mm 4mm 2mm rgb(249, 233, 86, 0.8)) ;
      }
    }
  }

  @media screen and (max-width: 990px) {
    width: 664px;
    opacity: 0.7;
  }

  @media screen and (max-width: 750px) {
    width: 100vw;
    overflow: hidden;   
    min-height: 348px; 
  }

  .green {
    position: absolute;
    top: 264px;
    left: 80px;
    @include left-right-animation(4.5s);
    @media screen and (max-width: 990px) {
      width: 62px;
      top: 200px;
    }
    @media screen and (max-width: 750px) {
      width: 40px;
      top: 136px;
    }
  }

  .orange {
    position: absolute;
    top: 400px;
    left: 292px;
    @include up-down-animation(4.8s);
    @media screen and (max-width: 990px) {
      width: 120px;
      top: 312px;
      left: 212px;
    }
    @media screen and (max-width: 750px) {
      width: 60px;
      top: 228px;
      left: 142px;
    }
  }

  .yellow {
    position: absolute;
    top: 272px;
    left: 732px;
    @include upper-right-lower-left-animation;
    @media screen and (max-width: 990px) {
      width: 116px;
      top: 160px;
      left: 468px;
    }
    @media screen and (max-width: 750px) {
      width: 56px;
      top: 116px;
      left: 292px;
    }
  }

  .blue {
    position: absolute;
    top: 556px;
    left: 524px;
    @include lower-right-upper-left-animation(5s);
    @media screen and (max-width: 990px) {
      width: 134px;
      top: 412px;
      left: 388px;
    }
    @media screen and (max-width: 750px) {
      width: 72px;
      top: 300px;
      left: 256px;
    }
  }

  .red {
    position: absolute;
    top: 24px;
    left: 600px;
    @include upper-left-lower-right-animation(4.3s);
    @media screen and (max-width: 990px) {
      width: 62px;
      left: 480px;
    }
    @media screen and (max-width: 750px) {
      width: 36px;
      left: 248px;
    }
  }
}
