@import '@/app/styles/mixins/animation.scss';
@import '@/app/styles/mixins/home.mixin.scss';

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  > *:not(:global(.fill-container)) {
    width: 1200px;
  }

  .rocket {
    @include up-down-animation;
    margin-bottom: 40px;
  }
}

.title {
  @include section-title;
}
