@import '@/app/styles/mixins/animation.scss';

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .main {
    max-width: 1440px;
    max-height: 800px;
    margin-bottom: 100px;
  }

  .rocket {
    @include up-down-animation;
    margin-bottom: 40px;
    // transition: top 2s ease-in-out 0.5s;
    
  }

  .title {
    font-size: 44px;
    margin-bottom: 60px;
  }
}
