.container {
  width: 100%;
  display: flex;
  justify-content: space-around;
}


.card-container {
  position: relative;
  min-width: 360px;

  .button {
    position: absolute;
    bottom: 40px;
    left: 50%;
    transform: translate(-50%, 0);
  }
}
