.container {
  position: absolute;
  z-index: 5;
  bottom: 80px;
  left: 50%;
  transform: translate(-50%, 0);
  border: 2px solid blue;

  .dot {
    font-size: 1.5rem;
    color: #ffffff;
    opacity: 0.5;
  }

  .active {
    opacity: 1;
  }
}
